<article class="contact">
    <header class="subtitle">
        <h1>Contact Me</h1>
    </header>
    <div class="content">
        <p class="info">Follow me at twitter or leave a comment to my generic facebook comment page.</p>
        <div class="tweet facebook buttons">
            <a href="https://twitter.com/d4gg4d" class="twitter-follow-button" data-show-count="false" data-size="large">Follow @d4gg4d</a>
            <a href="https://twitter.com/share" class="twitter-share-button" data-size="large">Tweet</a>
        </div>
    </div>
    <div class="fb-comments" data-href="http://localhost" data-num-posts="5" data-width="470"></div>
    <footer>
        <div class="fb-like" data-href="http://localhost" data-send="false" data-layout="box_count" data-width="200" data-show-faces="true" data-font="verdana"></div>
    </footer>
</article>