<article class="friendmap">
    <header class="subtitle">
        <h1>Friends Location Distribution</h1>
        <h3>How your friends are located in the World.</h3>
        <div class="fb-login-button" data-show-faces="true" data-width="400" data-max-rows="1"></div>
    </header>
    <div class="content gmap">
        <p class="info">Go and login, so that we can see your friend distribution!</p>
        <div id="map_canvas" style="width: 90%; height: 90%; margin-left: auto; margin-right: auto; border-radius: 10px"></div>
    </div>
    <footer>
        <div class="fb-like" data-href="http://localhost" data-send="false" data-layout="box_count" data-width="200" data-show-faces="true" data-font="verdana"></div>
    </footer>
</article>
